@model ICollection<demoweb.Models.Category>

<div class="container col-md-8 text-center mt-3">
    <h1 class="text text-danger">Category List</h1>
    <table class="table table-primary mt-3">
        <tr>
            <th>Category Id</th>
            <th>Category Name</th>
            <th>Category Image</th>
            <th>Delete</th>
        </tr>
        @foreach (var category in Model)
        {
           <tr>
               <td>@category.Id</td>
               <td>@category.Name</td>
                 <td>
                   <a asp-action="Detail" asp-route-id="@category.Id">
                       <img src="@category.Image" width="100" height="100">
                   </a>
               </td>
               <td>
                   <a class="btn btn-danger" asp-action="Delete" asp-route-id="@category.Id"
                   onclick="return confirm('Are you sure you want to delete this category ?');">
                   Delete</a>
               </td>
           </tr>
        }
    </table>
</div>