@model List<Person>

@{
    ViewData["Title"] = "Person List";
    var title = "Person Detail";
    var total_person = Model.Count;
    var total_age = 0;
    //Layout = null;
}

<div class="container col-md-8 text-center">
    <h1 class="text text-primary">@title</h1>
    <table class="table table-bordered">
        <tr>
            <th>Person ID</th>
            <th>Person Name</th>
            <th>Person Age</th>
            <th>Person Year of Birth</th>
            <th>Person Address</th>
        </tr>
        @foreach (var person in Model)
        {
            <tr>
            <td>@person.Id</td>
            <td>@person.Name </td>
            <td>@person.Age </td>
            @{
              var yob = DateTime.Now.Year - person.Age;
            }
            <td>@yob</td>
            <td>@person.Address </td>
                @{
                    total_age += person.Age;
                }
            </tr>
        }
            @{
                var average_age = total_age / total_person;
            }
    </table>
    <h5>Total Person: @total_person </h5>
    <h5>Average age: @average_age </h5>
</div>