<div class="container col-md-4 text-center mt-3">
    <form>
        @Html.Label("Username: ") @Html.TextBox("Username")
        <br /> <br />
        @Html.Label("Password: ")  @Html.Password("Password")
        <br /> <br />
        @Html.CheckBox("Remember me ") Remember me ?
        <br /> <br />
        <input class="btn btn-primary" type="submit" value="Login"/>
    </form>
</div>
